h1, h2, h3, h4, h5, h6 {
    margin : 0;
}

p{
    margin : 0;
}

ul{
    margin : 0;
}

body{
    width: 100%;
    font: raleway, sans-serif;
    margin: 0;
}
.container_body{
    display: contents;
    max-width: 1158px;
}

header{
    max-width: 1128px;
    margin: 0 auto;
    padding: 25px 0;
    background-color: #FFF;
    border-bottom: 1px solid #E7E9FC;
}
.header_webstudio_icon{
    width: 115px;
    height: 24px;
    font: raleway;
}

.header_webstudio_icon span{
    color: #4D5AE5;
}
.header_wrapper a{
    
    font-size: 16px;
}
.header_wrapper{
    display: flex;  
    justify-content: center;
   
    align-items: center;
    gap:76px;
}
.header_webstudio_icon{
    padding-top: 5px;   
    padding-bottom: 5px;
    line-height: 24px;
    font-size: 18px;
    font: raleway;
    font-weight: 700;
    text-decoration-line: none;
    display: flex;
    align-items: center;
    gap: 0;
}
.header_webstudio_icon a{
       
    font-size: 18px   ;
    text-decoration: none;
    color: #4D5AE5;
    
}
.header_webstudio_icon .black{
    color: #2E2F42;
}

.nav_top_line{
    display: flex;
    gap: 332px;
}
.studio_portfolio_contacts{
    
    display: flex;
    margin: 0;
    padding: 0;
    gap: 40px;
    justify-content: space-between;
    :hover{
        color: #404BBF;
    }
    :active{
        text-decoration: underline;
        color: #404BBF;
    }
}
.mail_top_line{
    color: #2E2F42;
}
.mail_tel_top_line{
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    text-decoration: none;
    :hover {
            color: #404BBF;
        }
    
    :active {
            text-decoration: underline;
            color: #404BBF;
        }
}
.mail_tel_top_line a{
    text-decoration: none;
    color: #2E2F42;
}
.tel_top_line{
    color: #434455;
}
.hero_img{
    text-align: center;
    padding-top: 188px;
    font-size: 56px;
    line-height: 60px;
    font-weight: 700;
    display: block; 
    width: 100%;
    height: 600px;
    color: #FFFFFF;
    background-color: #2E2F42;
}
.button_order_service{
    cursor: pointer;
    border: 0px;
    width: auto;
    height: 56px;
    padding: 16px 32px 16px 32px;
    border-radius: 4px;
    font-weight :500;
    font-size: 18px;
    margin-top: 48px;
    color: #FFFFFF;
    background-color: #4D5AE5;
}
.button_order_service:hover{
    background-color: #404BBF;
}
.section{
    max-width: 1128px;
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 120px;
}
.section_about_us_container{
    display: flex;
    gap: 24px;
    justify-content: center;
    
}
.about_us_h3{
    color: #2E2F42;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    padding-bottom: 8px;
}
.about_us{

    width: 264px;
    height: 104px;
    gap: 8px;
}
.about_us p{
    color: #434455;
}
.our_team_h2{
    font-weight: 700;
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
}
.team_cards_container{
    display: flex;
    justify-content: center;
    gap: 24px;
    padding-top: 72px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.section_2{



    background-color: #F4F4FD;
}
.team_cards_container img{
    width: 264px;
    height: auto;
}
.card_content{
    text-align: center;
    padding: 32px 16px 32px 16px;
}
.card_content_text1{
    color: #434455;
    margin-bottom: 8px;
}
.card_content p{
    color:#434455
}

.h2_our_portfolio{
    color: #2E2F42;
    font-weight: 700;
    font-size: 36px;
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
}
.portfolio_container_1_3{
    display: flex;
    justify-content: center;
    gap:24px;
}
.portfolio_container_2_3{
    margin-top:  48px;
    display: flex;
    justify-content: center;
    gap: 24px;
}
.project_card_img{
    width: 360px;
    height: 300px;
}
.project_card_img img{
    width: 100%;
    height: auto;
    
    
}
.project_card_text{
    padding: 32px 0 32px 16px;
    gap: 8px;
}
.project_card_text p{
    font-size: 16px;
    color: #434455;
}

.project_card_text h3{
    color: #2E2F42;
    font-size: 20px;
    font-size: 500;
    margin-bottom: 8px;
}
.project_card_frame{
    border-width: 0px 1px 1px 1px;
    
        border-style: solid;
    
        border-color: #E7E9FC;
}
.footer_container{
    background-color: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
    display: block;
}
.footer_info{
    max-width: 1128px;
    margin: 0 auto;

   
}
.footer_text{
    margin-top: 16px;
    color: #F4F4FD;
    font-size: 16px;
}

.header_webstudio_icon .black {
    color: #2E2F42
}
.footer_webstudio_icon{
    font-size: 18px;
    color: #4D5AE5;
    
}
.footer_webstudio_icon .white {
    color: #F4F4FD;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}